/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    line-height: 1.5;
}

body {
    color: var(--text-color);
    font-family:"Poppins", "Arial", sans-serif
}

h1, h2, h3, h4, ul, p, blockquote, dd {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
